extends ./layout.pug

block content
  h1= title
  p Vitejte to #{title}
  small Files are deleted automatically 15 minutes after the upload
  ul#uploads
  label#drop
    span.drop-hint Click or drop files here to upload!
